.map {
  height: calc(100vh - 40px);
}

.palette {
  position: fixed;
  z-index: 100;
  top: 50px;
  right: 15px;
}

.info {
  background-color: #00000050;
  position: fixed;
  z-index: 100;
  bottom: 15px;
  left: 15px;
}

.gps {
  position: fixed;
  z-index: 100;
  bottom: 15px;
  right: 15px;
}
