#map {
  height: 100vh;
}

.palette {
  position: fixed;
  z-index: 500;
  top: 50px;
  right: 15px;
}

.info {
  background-color: #00000050;
  position: fixed;
  z-index: 500;
  bottom: 15px;
  left: 15px;
}

.gps {
  position: fixed;
  z-index: 500;
  bottom: 15px;
  right: 15px;
}
