<animated-background></animated-background>
<div class="badge">
    <img src="assets/images/logo.png" width="200px" height="auto">
</div>
<div class="controls">
    <button mat-flat-button class="w-100 text-white" style="background-color: #dd0330" (click)="new()">
        <mat-icon>add</mat-icon> New Map
    </button>
    <div class="w-100 mt-3">
        <form class="input-group">
            <input type="text" class="form-control" [(ngModel)]="code" name="code" placeholder="Code" (keyup)="isValid()">
            <div class="input-group-append">
                <button class="btn btn-danger" [routerLink]="['/', code]" style="background-color: #dd0330" [disabled]="!valid || code.length < 4">Open</button>
            </div>
            <small *ngIf="!valid && code.length > 3" class="mt-2 text-danger">Codes can only be made up of letters and numbers!</small>
        </form>
    </div>
</div>
<span class="credits text-white">Created By <a href="https://zakscode.com" target="_blank">Zak Timson</a></span>
