.badge {
  position: absolute;
  top: 15%;
  left: 50%;
  z-index: 500;
  transform: translateX(-50%);
}

.controls {
  position: absolute;
  bottom: 15%;
  left: 50%;
  width: 200px;
  z-index: 500;
  transform: translateX(-50%);
}

.credits {
  position: absolute;
  bottom: 2%;
  right: 2%;
  z-index: 500;
}
