.controls {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  z-index: 5000;
  transform: translate(-50%, -50%);
}

.credits {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5000;
}
