<toolbar [(menu)]="menu"></toolbar>
<agm-map class="map" [mapTypeId]="style" [zoomControl]="false" [streetViewControl]="false" [disableDoubleClickZoom]="true" (mapReady)="mapApi = $event" gestureHandling="greedy" (mapClick)="mapClick.next($event.coords)">
    <ng-container *ngIf="position">
        <agm-marker *ngIf="position.heading == null" [markerClickable]="false" [latitude]="position.latitude" [longitude]="position.longitude" [iconUrl]="{url: '/assets/images/dot.png', anchor: {x: 11, y: 10}}"></agm-marker>
        <agm-marker *ngIf="position.heading != null" [markerClickable]="false" [latitude]="position.latitude" [longitude]="position.longitude" [iconUrl]="{url: '/assets/images/arrow.png', anchor: {x: 11, y: 13}, rotation: 90}"></agm-marker>
        <agm-circle [latitude]="position.latitude" [longitude]="position.longitude" [radius]="position.accuracy" fillColor="#5C95F2" [clickable]="false"></agm-circle>
    </ng-container>
</agm-map>
<div class="info p-2">
    <span *ngIf="!position" class="text-danger">No GPS</span>
    <div *ngIf="position" class="text-white">
        Heading:
        <span *ngIf="position.heading == null" class="text-danger">No Heading</span>
        <span *ngIf="!isNaN(position.heading)">{{position.heading | number : '1.0-0'}}°</span>
        <br>
        Latitude: {{position.latitude | number : '0.0-5'}}
        <br>
        Longitude: {{position.longitude | number : '0.0-5'}}
        <br>
        Altitude:
        <span *ngIf="!position.altitude" class="text-danger">No Altitude</span>
        <span *ngIf="position.altitude">{{position.altitude | number : '0.0-0'}} m</span>
        <br>
        Speed:
        <span *ngIf="!position.speed" class="text-danger">No Speed</span>
        <span *ngIf="position.speed">{{position.speed * 60 * 60 / 1000 | number : '1.0-1'}} km/h</span>
    </div>
</div>
<button *ngIf="position" mat-fab class="gps" (click)="center()"><mat-icon>gps_fixed</mat-icon></button>
