.color-palette {
  border-radius: 50% 50%;
  width: 30px;
  height: 30px;
  border: 2px solid #dddddd;

  &.selected {
    width: 45px;
    height: 45px;
  }
}

.rainbow {
  background: linear-gradient(-45deg, red, red, orange, yellow, green, cyan, blue, violet, violet);
}
