<div>
    <form id="dimensionsForm" class="d-flex align-items-center" (ngSubmit)="close()">
        <ng-container *ngFor="let d of dimensions; let i = index">
            <div class="flex-shrink-0 mx-2" *ngIf="i != 0">X</div>
            <div class="flex-shrink-1">
                <mat-form-field class='w-100' appearance="fill">
                    <mat-label>{{d}}</mat-label>
                    <input matInput type="number" [(ngModel)]="dimensionsOut[i]" name="dim-{{i}}">
                </mat-form-field>
            </div>
        </ng-container>
    </form>
    <mat-divider></mat-divider>
    <div class="text-right py-2">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button type="submit" form="dimensionsForm" (click)="close()">Ok</button>
    </div>
</div>
