<div class="pt-sm-2">
    <div class="d-flex flex-column-reverse flex-sm-row">
        <div class="flex-grow-1">
            <mat-form-field appearance="fill" class="w-100 pr-sm-3" style="max-width: 300px">
                <mat-label>Label</mat-label>
                <input matInput [(ngModel)]="symbol.label">
            </mat-form-field>
        </div>
        <div class="flex-shrink-0 py-3 py-sm-1">
            <palette [(selected)]="symbol.color"></palette>
        </div>
    </div>
    <div class="row">
        <mat-form-field appearance="fill" class="col-12">
            <mat-label>Notes</mat-label>
            <textarea matInput rows="3" [(ngModel)]="symbol.notes"></textarea>
        </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <button mat-button class="float-right mt-2" (click)="close()">Close</button>
</div>
