.mat-toolbar {
	position: absolute;
	height: 45px !important;
	z-index: 5000;
	color: rgba(255, 255, 255, 0.54);
	background-color: rgba(0, 0, 0, 0.8);

	.selected {
		background-color: rgba(70, 70, 70, 0.8);
	}

	.mat-mdc-icon-button {
		height: 40px;
		width: 40px;
		padding: 8px;

		&:hover {
			background-color: rgba(90, 90, 90, 0.8) !important;
		}
	}
}

