:focus {
  outline: none !important;
}

html, body {
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  overscroll-behavior: none;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: black;
}

.d-relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.cdk-overlay-pane.p-0 {
  .mat-dialog-container {
    padding: 0;
    overflow: hidden;
  }
}

.cdk-overlay-pane.pb-0 {
  .mat-dialog-container {
    padding-bottom: 0;
    overflow: hidden;
  }
}
