@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
@import '~bootstrap-scss/bootstrap.scss';

:focus {
  outline: none !important;
}

html, body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  overscroll-behavior: none;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Remove google maps branding
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display:none;
}

.gmnoprint div {
  background:none !important;
}

.mat-padding-0 {
  .mat-form-field-infix {
    border: 0 !important;
  }
}
