:focus {
  outline: none !important;
}

html, body {
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  overscroll-behavior: none;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: black;
}

.curs-pointer {
  cursor: pointer;
}

.d-relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.cdk-overlay-pane.p-0 {
  .mat-dialog-container {
    padding: 0;
    overflow: hidden;
  }
}

.cdk-overlay-pane.pb-0 {
  .mat-dialog-container {
    padding-bottom: 0;
    overflow: hidden;
  }
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display: none;
}

.gmnoprint div {
  background: none !important;

}

.cdk-overlay-container {
  z-index: 5500 !important;
}

.leaflet-tooltip {
  background: rgba(0, 0, 0, 0.6) !important;
  border-color: rgba(0, 0, 0, 0.6) !important;
  color: white;

  &.leaflet-tooltip-right:before {
    border-right-color: rgba(0, 0, 0, 0.6) !important;
  }
  &.leaflet-tooltip-bottom:before {
    border-bottom-color: rgba(0, 0, 0, 0.6) !important;
  }
  &.leaflet-tooltip-top:before {
    border-top-color: rgba(0, 0, 0, 0.6) !important;
  }
  &.leaflet-tooltip-left:before {
    border-left-color: rgba(0, 0, 0, 0.6) !important;
  }
}

.leaflet-tooltip-bottom:before {
  display: none;
}

.leaflet-popup-content-wrapper {
  background: rgba(0, 0, 0, 0.6) !important;
  color: white !important;
}

.leaflet-popup-tip {
  background: rgba(0, 0, 0, 0.6) !important;
}
